.filters {
         color: white;
         height: 70px;
 width: 100%;
 border: 1px solid;
 border-color: #DDDDDD;
 border-radius: 4px;
 
}

 button {
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 200px;
  border: 0px solid;
  border-radius: 4px;
  margin: 10px 30px;
  float: right;
}

 button:hover {
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
    border-right: 1px solid #DDDDDD;
}

.amenities {
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
}

.filters div h3 {
     font-weight: 600;
     color: #484848;
}

.filters div h4 {
     font-weight: 400;
     font-size: 14px;
     color: #484848;
     margin: auto;
}
.popover {
    display: none;
    position: relative;
    background-color:  #FAFAFA;
    border: 1px #DDDDDD solid;
    width: 100%;
    color: #484848;
    border-radius: 4px;
    overflow: hidden;
    left: 0px;
    margin-top: 16px;
    max-height: 0px;
    z-index: 1;
}

.locations:hover .popover,
.amenities:hover .popover {
    max-height: 400px;
    opacity: 100%;
    padding: 25px 0px 25px 0px;
    display: block;
}

.popover ul {
    padding-left: 0px;
    list-style: none;
}

.popover h2 {
  font-size: 16px;
  padding-left: 20px;
  text-align: center;
  line-height: normal;
}

.popover li {
    list-style: none;
    padding-left: 0px;
    margin-top: 15px;
}