.places {
  margin-top: 35px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places h1 {
  font-size: 30px;
  margin: 0;
  margin-left: 20px;
  width: 100%;
}

.places article {
  width: 390px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.places h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.price_by_night {
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 150px;
  font-size: 30px;
  min-width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  right: 20px;
  top: 10px;
  justify-content: center;
  align-items: center;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    display: flex;
    flex-direction: column;
}
.max_guest p,
.number_rooms p,
.number_bathrooms p {
    text-align: center;
    margin-top: 7px;
    margin-bottom: 10px;
}

.user {
    text-align: justify;
    margin-top: 7px;
}


.guest_icons {
    background-image: url("../images/icon_group.png");
    width: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 50%;
    background-position-y: 10%;
    height: 80px;
}

.room_icons {
    background-image: url("../images/icon_bed.png");
    width: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 50%;
    background-position-y: 10%;
    height: 80px;
}

.bath_icons {
    background-image: url("../images/icon_bath.png");
    width: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 50%;
    background-position-y: 10%;
    height: 80px;
}

.description p {
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: justify;
}